* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";                      /* por enquanto */
}

:root {                                          /* variáveis para acessar as cores mais facilmente */
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: #ffff;
    --main-color: #ea580c;                     /* por enquanto */
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background-color: rgb(0, 0, 0, 0.3);    
    backdrop-filter: blur(10px);                /* efeito de vidro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}

span {                              /* efeito de degradê no meu sobrenome*/
    background: linear-gradient(
        270deg,
        #DF8908 10%,
        #ff1d15 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #DF8908 10%,
        #ff1d15 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    color: var(--text-color);
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover {
    transform: scale(1.05);
    color: var(--second-bg-color);
}